@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font:'Oswald', sans-serif;
    --lett_spa: .1rem ;
    --primary_color: rgb(222,207,214);
    --primary_color_op: rgb(222,207,214,.6);
    --secondary_color_op: rgba(253, 253, 253, 0.35);
    --span_color: rgb(85,92,99);
    --main_border: .3rem double grey;
    --secondary_border: .1rem solid var(--span_color);
}

span {
    color: var(--span_color)
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    padding: .5rem;
    letter-spacing: var(--lett_spa);
}
.header__logo img {
    max-height: 5vh;
}
.header__navlist {
    list-style-type: none;
    display: flex;
    font-weight: 700;
    /* font-size: .9rem; */
}
.nav__item {
    margin: .5rem;
}
.nav__link {
    text-decoration: none;
    color: black;
}

.nav__link:hover {
    color: var(--span_color);
}
/* HEADER */

/* ****FÖRSTA SIDAN **** */
/* IMAGE SECTION */
.heroimage {
    background-image: url(./assets/photos/09-day.jpg);
    background-size: cover;
    background-position: 50% 83%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: var(--lett_spa);
}
.heroimage__shade {
    background-color: var(--secondary_color_op);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 1px 11px 5px -4px rgba(0,0,0,0.39);
}
.heroimage__title {
    font-size: 2rem;
}
.heroimage__description {
    font-weight: 500;
}
/* IMAGE SECTION */

/* MAIN SECTION */  
.infocards__servicetitle {
    text-align: center;
    min-width: 100%;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: var(--lett_spa);
}
.infocards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.infocards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    margin: .3rem;
    width: 40vw;
    height: 13vh;
    border: var(--main_border);
    border-radius: 1rem;
    box-shadow: 1px 11px 5px -4px rgba(0,0,0,0.39);
}
.infocards__icon {
    height: 25px;
    width: 25px;
}
.infocards__title {
    text-align: center;
}
.infocards__description {
    font-weight: 200;
    text-align: center;
    font-size: .9rem;
}
/* MAIN SECTION */

/* ASIDE */
.maingallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.maingallery__title {
    text-align: center;
    margin-top: 2rem;
    letter-spacing: var(--lett_spa);
    min-width: 100%;
    text-align: center;
}
.maingallery__container {
    position: relative;
    min-width: 10;
    text-align: center;
}
.maingallery__price {
    position: absolute;
    font-weight: 900;
    font-size: 1.2rem;
    background-color: var(--primary_color_op);
    padding: .2rem;
    border: var(--secondary_border)
}
.maingallery__image {
    height: auto;
    width: 80vw;
    border: .1rem solid var(--span_color);
}

/* ASIDE */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    background-color: var(--primary_color);
    margin-top: 2rem;
    letter-spacing: var(--lett_spa);
}
.footer__navlist {
    list-style-type: none;
    font-weight: 700;
    /* font-size: .9rem; */
}
.footer__logo img {
    max-height: 4vh;
    padding-top: .4rem;
}
/* FOOTER */
/* ****FÖRSTA SIDAN SLUT**** */

/* ****ANDRA SIDAN**** */
/* ****FORMULÄR**** */
.selectors {
    display: grid;
    grid-template-columns: 1fr;
    margin: 2rem;
    /* gap: 1rem; */
}
.selectors label {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .8rem 0 .2rem 0;
}

/* input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    background: black;
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: whitesmoke;
    border-radius: 2rem;
    border: black solid 1px;
    height: 7px;
} */

option {
    background-color: white;
    font-size: 1.2rem;
}
.checkboxes {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    letter-spacing: .02rem;
}
.checkboxes label {
    margin-right: .3rem;
}
input[type="checkbox"] {
    margin-right: .8rem;
    margin-top: .15rem;
}
/* ****FORMULÄR**** */

/* ****GALLERI**** */
.gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    /* gap: 1rem; */
}
.gallery__image {
    /* border: .3rem double var(--primary_color); */
    margin: .9rem 1rem 0 1rem;
}

.gallery__image img {
    width: 100%;
    border: var(--secondary_border);
}

.gallery__description {
    text-align: center;
    border: var(--main_border);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: var(--lett_spa);
    padding: .4rem;
}











/* MEDIA QUERYS */

@media (min-width: 520px) {
    .heroimage {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .infocards {
        flex-wrap: wrap;
        flex-direction: row;
        max-width: 998px;
        margin: 0 auto;
    }
    .infocards__container {
        max-width: 17rem;
        max-height: 8rem;
    }
    .maingallery {
        flex-direction: row;
    }
    .maingallery__image {
        width: 28vw;
        opacity: 70%;
    }
    .maingallery__image:hover {
        opacity: 100%;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .selectors {
        grid-template-columns: repeat(6, 1fr);
    
    }

    .selectors label {
        font-size: 1.4rem;
        /* margin: .8rem 0 .2rem 0; */
        margin: 0;
    }

}