@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font:'Oswald', sans-serif;
    --lett_spa: .1rem ;
    --primary_color: rgb(222,207,214);
    --primary_color_op: rgb(222,207,214,.6);
    --secondary_color_op: rgba(253, 253, 253, 0.35);
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    padding: .5rem;
    letter-spacing: var(--lett_spa);
}
.header__logo img {
    max-height: 5vh;
}
.navbar__list {
    list-style-type: none;
    display: flex;
    font-weight: 700;
    font-size: .9rem;
}
.navbar__listitem {
    margin: .3rem;
}
.navbar__link {
    text-decoration: none;
    color: black;
}
/* HEADER */

/* IMAGE SECTION */
.image {
    background-image: url(./assets/photos/09-day.jpg);
    background-size: cover;
    background-position: 50% 83%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: var(--lett_spa);
}
.image__shade {
    background-color: var(--secondary_color_op);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.image__txt {
    font-weight: 700;
}
/* IMAGE SECTION */

/* MAIN SECTION */  
.services__title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: var(--lett_spa);
}
.services_cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    width: 40vw;
    height: 15vh;
    padding: .8rem;
    border: .3rem double var(--primary_color);
    border-radius: 1rem;
    box-shadow: 1px 11px 5px -4px rgba(0,0,0,0.39);
}
.services__card-icon {
    height: 25px;
    width: 25px;
}
.services__card-title {
    text-align: center;
}
.services__card-txt {
    font-weight: 700;
    text-align: center;
}
/* MAIN SECTION */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem .7rem 1rem;
    background-color: var(--primary_color);
    margin-top: 1rem;
    letter-spacing: var(--lett_spa);
    margin-top: 6rem;
}
.footer__logo img {
    max-height: 3vh;
}
/* FOOTER */

/* MEDIA QUERYS */

@media (min-width: 426px) {
    .image {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
    .services {
        max-width: 1340px;
        margin: 0 auto;
    }
    .services_cards {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .services__card {
        max-width: 20rem;
        max-height: 8rem;
    }
}