@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@900&family=Oswald:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

:root {
    --font:'Oswald', sans-serif;
    --lett_spa: .1rem ;
    --primary_color: rgb(222,207,214);
    --primary_color_op: rgb(222,207,214,.6);
    --secondary_color_op: rgba(253, 253, 253, 0.35);
    --span_color: rgb(85,92,99);
}

span {
    color: var(--span_color)
}
p {
    font-size: .77rem;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
    padding: .5rem;
    letter-spacing: var(--lett_spa);
}
.header__logo img {
    max-height: 5vh;
}
.header__nav-list {
    list-style-type: none;
    display: flex;
    font-weight: 700;
    /* font-size: .9rem; */
}
.nav__item {
    margin: .5rem;
}
.nav__link {
    text-decoration: none;
    color: black;
}

.nav__link:hover {
    color: var(--span_color);
}
/* HEADER */

/* IMAGE SECTION */
.image {
    background-image: url(./assets/photos/09-day.jpg);
    background-size: cover;
    background-position: 50% 83%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: var(--lett_spa);
}
.image__shade {
    background-color: var(--secondary_color_op);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.image__description {
    font-weight: 700;
}
/* IMAGE SECTION */

/* MAIN SECTION */  
.services__title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: var(--lett_spa);
}
.infocards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.infocards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    width: 40vw;
    height: 15vh;
    padding: .8rem;
    border: .3rem double var(--primary_color);
    border-radius: 1rem;
    box-shadow: 1px 11px 5px -4px rgba(0,0,0,0.39);
}

.infocards__icon {
    height: 25px;
    width: 25px;
}
.infocards__title {
    text-align: center;
}
.infocards__description {
    font-weight: 700;
    text-align: center;
}
/* MAIN SECTION */

/* ASIDE */
.featured-rooms__title {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: var(--lett_spa);
}
.featured-rooms__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.featured-room {
    position: relative;
}
.featured-room__price {
    position: absolute;
    font-weight: 900;
    font-size: 1.2rem;
    background-color: var(--primary_color_op);
    padding: .2rem;
    border: .13rem solid var(--span_color);

}
.featured-room__image {
    height: auto;
    width: 80vw;
    border: .1rem solid var(--span_color);
}
.featured-room__button {
    padding: .2rem;
    margin-top: .4rem;
    font-weight: 800;
    font-size: .9rem;
}

/* ASIDE */

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    background-color: var(--primary_color);
    margin-top: 2rem;
    letter-spacing: var(--lett_spa);
}

.footer__nav-list {
    list-style-type: none;
    font-weight: 700;
    /* font-size: .9rem; */
}

.footer__logo img {
    max-height: 4vh;
    padding-top: .4rem;
}
/* FOOTER */

/* MEDIA QUERYS */

@media (min-width: 426px) {
    .image {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
    .services {
        max-width: 1001px;
        margin: 0 auto;
    }
    .services_cards {
        flex-wrap: wrap;
        flex-direction: row;
    }
    .services__card {
        max-width: 15rem;
        max-height: 7rem;
    }
    .featured-rooms__list {
        flex-direction: row;
    }

    .featured-room__image {
        width: 28vw;
        opacity: 70%;
    }
    .featured-room__image:hover {
        opacity: 100%;
    }
}